<div style="margin: 40px 800px; background color: rgba(220, 220, 220, 0.8);">
<h1>Create a new dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient.all %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
